// Section sidebar
// --------------------------------------------------

.layout-sidebar-first, .layout-sidebar-second
  ul
    list-style: none
    margin: 0
    padding: 0
  li
    padding: 5px 0
    a
      font-family: $font-family-serif
