<header class="header">
  <div class="header-image">
    <div class="container header-container">
      <div class="header-nav">
        <div class="header-logo">
          <a href="#"><img src="http://via.placeholder.com/250x100/ecef2d/000000" alt="logo"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="header-title-wrapper">
            <div class="title-text">
              Find the best<br>
              <span>AGENCIES</span> <br>
              for your <br>
              <span>PROJECTS</span>
            </div>
            <div class="title-description">
              Odit ut quaerat vitae! Varius leo, consectetuer sed, quae quisquam fames est dui interdum, nibh donec! Dolorum provident curae fuga metus sapiente delectus facere cras habitant perspiciatis sociis, eligendi massa.
            </div>
          </div>
          <div class="header-form">
            <form id="form_box" method="POST" onsubmit="event.preventDefault(); submitForm();">
              <div id="lp_input_fields">
                <i class="icon icon--envelope"></i>
                <input class="form-control" type="email" name=" &nbsp email" id="email" placeholder="EMAIL">
              </div>
              <button id="lp_login_bttn" type="submit"  class="btn btn-black">Get Early Access</button>
            </form>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="header-image-wrapper">
            <div class="header-wrapper-image">
              <img src="http://via.placeholder.com/450x560/ecef2d/ffffff" alt="">
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>
</header>
