
.page-products
  #block-gift-page-title h1
    font-size: 36px !important
    text-align: center

  img
    padding-bottom: 15px
    width: 100%
    height: auto

  .field--label
    font-size: 18px
    font-weight: bold

  #edit-actions
    margin-top: 20px !important
